:root {
	--contentWidth: 1200px;
	--white: #ffffff;
	--black: #333333;
	--blue: #607ff2;
	--darkBlue: #4b64bf;
	--lightGrey: #f8f8f8;
	--grey: #e1e8ec;
	--darkGrey: #5a5a5a;
}

.app {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.appRouter {
	display: flex;
	flex: 1;
}

.screen {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.contentContainer {
	display: flex;
	flex: 1;
	justify-content: center;
}

.content {
	display: flex;
	flex: 1;
	max-width: var(--contentWidth);
	box-sizing: border-box;
	padding: 16px;
}
